<div class="container">
	<!--<app-header></app-header>-->
	<header class="menu-capitulos" >
		<div class="cont-pic">
			<!-- <a href="/" class="picasso" [ngStyle]="{'background-image': 'url(assets/la_cocina.JPG)'}">
			</a> -->			
			<a href="/" class="picasso"></a>			
		</div>
		<i
			class="fa fa-times close-menu" 
			aria-hidden="true"
			(click)="hideMenu()"
		></i>
		<i class="fa fa-bars ham" (click)="showMenu()" aria-hidden="true"></i>
		<div class="cont-caps">
			<h3>Capítulos</h3>
			<ul id="lista-capitulos">
				<li *ngFor="let capitulo of libro.capitulos" (click)="onSelect(capitulo)">
					<span>
						<label [class.cap-seleccion]="capitulo === capituloSel">{{capitulo.id}}</label>
						<a>{{capitulo.nombre}}</a>
					</span>
				</li>
			</ul>
		</div>
	</header><!--
	-->
	<div id="top-picasso">
		<a href="/" id="picasso" [ngStyle]="{'background-image': 'url(assets/la_cocina.JPG)'}">
		</a>		
	</div>
	<router-outlet></router-outlet>
	<!--<contenido-capitulo [capituloSel]="capituloSel"></contenido-capitulo>--><!--
	--><!--<detalle-profesora></detalle-profesora>-->
</div>
<footer>
	<footer-profa></footer-profa>
</footer>